.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-nav {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 850px){

    .banner{
        margin-top: 56px;
        padding: 30px 0;
    }
}